<h1>Your conversation with <%= @conversation_partner.email %></h1>
<div id="message_window" data-user="<%= @conversation_partner.id %>">
  <%= render 'messages' %>
</div>

<div class="row">
  <div class="large-8 columns">
    <%= render 'form' %>
  </div>
</div>
